.generate-button {
  display: block;     
  margin: 0 auto;      
  width: 80%;
  height: 80px;         
  max-width: 300px;      
  background: #001f3f;
  color: blanchedalmond;
  --background: #800000;
  --background-hover: #682626;
  font-weight: bold;
}

.share-button {
  display: block;     
  margin: 0 auto;      
  width: 80%;
  height: 80px;         
  max-width: 300px;      
  background: #001f3f;
  color: blanchedalmond;
  font-weight: bold;
}

.logo {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 300px;
  object-fit: contain;
}

ion-content {
  --background: #001f3f !important;
  height: 100vh;
  padding: 0;
}

ion-grid {
  height: 100%;
  width: 100%;
}

ion-card-title {
  font-weight: bold;
  text-align: center;
}

ion-card-header {
  background-color: #eceaea; /* Gris */
}

.share-button {
  max-width: 150px;
  max-height: 40px;
}

.creature-details{
  position: relative;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background-color: rgb(202, 102, 20);
  border-radius: 50%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle-label {
  font-size: 15px; /* tamaño menor para "nivel" */
  color: white;
}

.circle-value {
  font-size: 24px; /* tamaño mayor para el valor */
  color: white;
  font-weight: bold;
}

.heart-container {
  position: relative; 
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ajusta el tamaño de tu imagen según necesites */
.heart-image {
  width: auto;
  height: auto;
}

.heart-value {
  position: absolute;
  color: #ffffff;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Opcional: impide que el texto bloquee eventos táctiles */
  font-size: 2rem;     /* Ajusta según tu preferencia */
  text-align: center;    /* Centra el texto si es más largo */
}

.bg-col-1 {
  background-image: url('../../assets/images/ataque2.png');
  background-size: 100% auto;  /* Ocupa todo el ancho y ajusta la altura manteniendo la proporción */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 5 / 2;  /* Ajusta esta proporción según la imagen */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Puedes aplicar lo mismo para las demás columnas, cambiando la imagen */
.bg-col-2 {
  background-image: url('../../assets/images/defensa2.png');
  background-size: 100% auto;  /* Ocupa todo el ancho y ajusta la altura manteniendo la proporción */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 5 / 2;  /* Ajusta esta proporción según la imagen */
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-col-3 {
  background-image: url('../../assets/images/velocidad2.png');
  background-size: 100% auto;  /* Ocupa todo el ancho y ajusta la altura manteniendo la proporción */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 5 / 2;  /* Ajusta esta proporción según la imagen */
  display: flex;
  align-items: center;
  justify-content: center;
}
